.calculator {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: right;
  }
  
  .buttons button {
    width: 23%;
    height: 50px;
    margin: 5px;
    font-size: 20px;
  }

